/* Toast */
.ibox {
    clear: both;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.ibox .ibox-content {
    clear: both;
    line-height: normal;
    padding: 25px;
}

.web_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.web-toast {
    position: fixed;
    z-index: 5000;
    width: 13em;
    min-height: 4em;
    top: 200px;
    left: 50%;
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}

.web-toast_content {
    font-size: 16px;
}

.sk-spinner-three-bounce.sk-spinner {
    margin: 20px auto 10px;
    text-align: center;
}

.sk-spinner-three-bounce div {
    width: 18px;
    height: 18px;
    background-color: #467fcf;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.sk-spinner-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}

.sk-spinner-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

@-webkit-keyframes sk-threeBounceDelay {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-threeBounceDelay {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}